<%- include('partiels/headerOther.ejs') -%>
<section class="container my-4 pub-articles">

    <div class="card">
        <div class="card-header">
        <h3><%=artigo.title%></h3>
        </div>
    
        <div class="card-body">
            <%-artigo.body%>
        </div>
    </div>
    
    
    
    </section>

