<%- include('../../../partiels/headerCpanel.ejs');-%>

<div class="container-fluid">

    

    

  </div>

</div>
<!-- End of Main Content -->



  <%- include('../../../partiels/footerCpanel.ejs');-%>