<%- include('../../../partiels/haederAdminCpanel.ejs');-%>

<div class="container-fluid">

    

    

  </div>

</div>
<!-- End of Main Content -->



  <%- include('../../../partiels/footerAdminCpanel.ejs');-%>